#intro {
    margin: 10px;
    text-align: justify;
}
#program {
    width: 400px;
}
#logos {
    width: 400px;
}
#bio {
    margin: 10px;
    text-align: justify;
}
#fut {
    width: 400px;
}
#fam {
    width: 400px;
}
#port {
    margin: 10px;
}
#cont {
    margin: 10px;
}